body{
    height: 100vh;
}
#heading{
    padding-top: 2%;
    color: #334ac0;
    text-align: center; 
    font-size: 1.6em;

    font-family: 'Yeseva One', cursive, Arial, Helvetica, sans-serif;
}
#container{
    height: calc(100vh - var(--header-height));
}
.row{
    margin: 5% 0 0 0;
}
.name-tag span a{
    text-decoration: none;
}
.row.row1 .name-tag, .row.row2 .name-tag{
    display: inline-block;
    width: 49%;
}
.name-tag img{
    height: 110px;
}
.name-tag span{
    display: block;
    margin: 5% 0 0 0;
    color: #334ac0; 
    font-family: 'Yeseva One', cursive, Arial, Helvetica, sans-serif;
}
.row.row2, .row.row1{
    text-align: center;
}
.row2{
    margin-bottom: 5%;
}
.mobile{
    padding-top: 5%;
    text-align: center;
}
.mobile span{
   margin-top : 1% ;
}

@media screen and (max-width: 760px){
.name-tag span{
    margin-left: 14%;
}
.name-tag span{
    margin-right: 13%;
}
#heading{
    padding-top: 10%;
}
.row2{
    margin-bottom: 3%;
}
}