body{
    height: 100vh;
}
#heading{
    padding-top: 2%;
    color: #334ac0;
    text-align: center; 
    font-size: 1.6em;

    font-family: 'Yeseva One', cursive, Arial, Helvetica, sans-serif;
}
#container{
    height: calc(100vh - var(--header-height));
}
.row{
    margin: 5% 0 0 15%;
}
.row span a{
    text-decoration: none;
}
.row.row1 .name-tag{
    display: inline-block;
    width: 33%;
}
.name-tag img{
    height: 110px;
}
.name-tag span{
    display: block;
    margin: 5% 0 0 7%;
    color: #334ac0; 
    font-family: 'Yeseva One', cursive, Arial, Helvetica, sans-serif;
}
.row.row2{
    margin-left: 25%;
}
.row.row2 .name-tag{
    display: inline-block;
    width: 49%;
    margin: 0 auto;
}