<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (min-width: 750px)" href="css\Error404.css">
    <link rel="stylesheet" media="screen and (max-width: 750px)" href="css\Error404_mobile.css">

    <script src="js/nav.js"></script>
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/26b935012c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <title>Error 404</title>
</head>

<body class="body">

<header class="topnav" id="myTopnav">
    <span>WhoozeInIt?</span>
    <a class="signup" href="SignUp">SignUp</a>
    <a class="login" href="Login">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="expandNav()">
        <i class="fa fa-bars"></i>
    </a>
</header>

<p class="Line1">Error 404!</p>
<p class="Line2">WhoozeInIt? You’re not in it.</p>
<p class="Line3">We will guide you the right way</p>
<button onclick="window.location.href='HomePage.html'" class="homebutton">Home</button>

<img class="frame" src="res/img/Frame.png">

</body>

</html>