<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>WhoozeInIt?</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/AddCourses.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
		<script src="js/nav.js"></script>

	</head>
	<body>

		<header class="topnav" id="myTopnav">
        <span>WhoozeInIt?</span>
        <a class="signup" href="logout">Logout</a>
        <a class="login" href="login" style="visibility: hidden">Login</a>
        <a href="javascript:void(0);" class="icon" onclick="expandNav()">
            <i class="fa fa-bars"></i>
        </a>
    </header>

		<div class="container">
			<h1>Let's see your schedule</h1>
			<h2>Please upload your courses to the schedule</h2>
			<div class="searchinput">
				<input type="text" id="dept" list="deptlist" placeholder="Dept.">
					<datalist id="deptlist">
						<% for(var i = 0; i < data.length; i++){%>
						<option> <%= data[i].dabbr %></option>
						<%}%>
					</datalist>
				<input type="text" id="course" list="courselist" placeholder="Course">
					<datalist id="courselist">
						<option value="Example">Example</option>
					</datalist>
			</div>
			<div class="coursetable">
				<table id="options">
					<caption>Your course options will appear here</caption>
					<thead>
						<tr id="heading">
							<th id="class">Class</th>
							<th id="title">Title</th>
							<th id="sec">Section</th>
							<th id="days">Days</th>
							<th id="time">Time</th>
							<th id="instructor">Instructor</th>
						</tr>
					</thead>
				</table>
				<table id="selections">
					<caption>Your selected courses will appear here</caption>
					<thead>
						<tr id="heading">
							<th id="class">Class</th>
							<th id="title">Title</th>
							<th id="sec">Section</th>
							<th id="days">Days</th>
							<th id="time">Time</th>
							<th id="instructor">Instructor</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</body>
</html>
