<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (min-width: 750px)" href="css\education.css">
    <link rel="stylesheet" media="screen and (max-width: 750px)" href="css\education_mobile.css">

    <script src="js/nav.js"></script>
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/26b935012c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <title>Education Details</title>
</head>
<body>

<header class="topnav" id="myTopnav">
    <span>WhoozeInIt?</span>
    <a class="signup" href="logout">Logout</a>
    <a class="login" href="login" style="visibility: hidden;">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="expandNav()">
        <i class="fa fa-bars"></i>
    </a>
</header>

<h1 class="Education_setup">Alright FirstName! Let's get your educational details!</h1>

<div class="overlay">
    <form action="education" method="post">
        <div class="major_div">
            <p class="major_text">Major</p>
            <input class="major_box" type="text" id="major" name="major" list="major_list" required>
            <datalist id="major_list">
                <% for(var i = 0; i < data.length; i++){%>
                <option> <%= data[i].major %></option>
                <%}%>
           </datalist>
        </div>

        <div class="class_standing_div">
            <p class="class_standing_text">Class Standing</p>
            <input class="class_standing_box" id="class_standing" name="class_standing" list="class_standing_list" required>
            <datalist id="class_standing_list">
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
                <option value="Graduate">Graduate</option>
                <option value="Other">Other</option>
            </datalist>
            </select>
        </div>
    <button type="submit" id="next" class="next"> Next</button>
    </form>
</div>

</body>
</html>