<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/forgot.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <script src="js/nav.js"></script>
    <script
      src="https://kit.fontawesome.com/26b935012c.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <header class="topnav" id="myTopnav">
      <span>WhoozeInIt?</span>
      <a class="signup" href="signup">SignUp</a>
      <a class="login" href="Login">Login</a>
      <a href="javascript:void(0);" class="icon" onclick="expandNav()">
        <i class="fa fa-bars"></i>
      </a>
    </header>
    <div class="box container d-flex justify-content-center mx-auto">
      <div" class="justify-content-center">
      <div class="col">
        <!-- <div class="card text-center" style="min-width: 23rem; max-width: 23rem;"> -->
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 mb-5">You are all set!</h1>
            <p>Please enter the code received in verification email.</p>

            <!-- <div class="card-header text-center">Can't remember your password ?</div> -->
            <div class="card-body">
              <form action="verifyForgot" method="post">
                <div class="form-row mt-2 mb-4">
                  <!-- <label for="email">School email</label> -->
                  <input
                    type="text"
                    class="form-control"
                    id="verify"
                    placeholder="Verification Code"
                    name="token"
                  />
                </div>
                <!-- <div class="form-row mb-4">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="password">
                  </div> -->
                <div class="row">
                  <div class="col text-center">
                    <!-- <button type="submit" class="btn btn-success btn-large"> -->
                    <% if (messages.error) { %>
                    <p style="color: red; padding-top: 2%">
                      <%- messages.error %>
                    </p>
                    <% } %> <% if (messages.success) { %>
                    <p style="color: green; padding-top: 2%">
                      <%- messages.success %>
                    </p>
                    <% } %>
                    <button
                      type="submit"
                      class="btn btn-primary btn-user btn-block"
                    >
                      Send
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
