.searchcontainer{
    margin-top: 2vw;
    margin-left: 25vw;
    height: 5vw;
    width: 35vw;
    border-radius: 2vw;
    background: #EDF2F7;
    box-shadow: 5px 10px 18px #888888;

    align-content: center;
}

.searchbox{
    height: 6vw;
    width: 65vw;
    margin-left: 25vw;
  
}

.contain{
    box-shadow: 5px 10px 18px #888888;
    background: white;
    height: 14vw;
    width: 76vw;
    margin-top: 3.5vw;
    margin-left: 10vw;
    
}
.dynamicbutton{
font-family: 'Poppins', sans-serif;
font-size: 1.1vw;
 margin-left: 72vw;
 margin-top: vw;
background: #0076ec;
height: 2vw;
width: 3vw;

}
.random{
    margin-left: 2vw;
    background: #ffffff;
    height: 3vw;
    width: 8vw;
    
    
    }

.majorcontainer{
font-family: 'Poppins', sans-serif;
font-size: 1.1vw;
margin-left: 1vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 3vw;
width: 20vw;


}

.namecontainer{
font-family: 'Poppins', sans-serif;
font-size: 1.1vw;
margin-left: 22vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 3vw;
margin-top: -3vw;
width: 22vw;
}

.emailcontainer{
font-family: 'Poppins', sans-serif;
font-size: 1.1vw;
 margin-left: 45vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 3vw;
margin-top: -3vw;
width: 24vw;
}


.button{
font-size: 1.2vw;
font-family: 'Merriweather', serif;
margin-left: 30vw;
margin-top: 1vw;
border: white;
border-radius: 1vw;

color: white;
background: #334AC0;
height: 4vw;
width: 10vw;
}