.body{
    background: #334AC0;
    height: 100vw;
}

.box{
    background-color: white;
}

.Line1{
    margin-top: 5vw;
    color: white;
    font-size: 5vw;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 300vw;
    letter-spacing: 0em;
    padding-bottom: 3vw;
    margin-left:15vw;
}

.Line2{
   
    color: white;
    font-size: 3.5vw;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 7vw;
    letter-spacing: 0em;
    padding-bottom: 3vw;
    margin-left: 2vw;
}

.Line3{
    
    color: white;
    font-size: 3vw;
    font-style: normal;
    font-weight:normal;
    letter-spacing: 0em;
    margin-left: 9vw;
}

.homebutton{
   
    margin-top: 5vw;
    margin-left: 23vw;
    width: 10vw;
    height: 3.75vw;  
    background-color: white;
    border-radius: 1vw;
    box-shadow: 6px 12px 12px rgba(0, 0, 0, 0.12);
    border-color: white;
    color: #334AC0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 10vw;
    font-size: 2vw;
    line-height: 2vw;
    
}

.frame{
    margin-left: 57vw;
    margin-top: -31vw;
    height: 35vw;
    width: 35vw;
}