.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h4 {
  font-family: "Merriweather", serif;
}

body {
  background-color: #f6f6f6;
}

.btn {
  background-color: #334ac0;
  width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
