html{
    background-color:  #e9e9e9 !important;
}

html,body{
    height:100%;
}

.classContainer{
    position: relative;
    background-color: white;
    margin: 5% 10% 0 10%;
    height: 25%;
    border-radius: 40px;
    box-shadow: 1px 1px grey;
    text-align: center;
}

.table{
    display: block;
    padding-top: 4%;
    border-spacing: 5px;
    border-collapse: separate;
   font-size: 1.3em;
}
td:nth-child(1){
    width: 20%;
}
td:nth-child(2){
    width: 60%;
}
td:nth-child(3){
    width: 1000px;
}
td{
    border: 2px solid rgba(51, 74, 192, 0.5) !important;
    background: #EDF2F7;
}
.init{
    background-color: #334AC0;
    color: white;
    font-size: 1.5em;
    /* margin-top: 3%; */
    border-radius: 50px;
    height: 29%;
    text-align: center;
    line-height: 150%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a{
    cursor: pointer;
}
