.Personal_messageSetUp{
    margin-top: 4vw;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    line-height: 7vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    }

    .first_name{
        align-content: center;
        margin-top: 5vw;
        margin-left:20vw ;
    }

    .first_name_text{
        padding-bottom: 1vw;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 5vw;
        font-size: 5.5vw;
        color: #334AC0;
    }

    .first_name_box{
    width: 60vw;
    height: 10vw;
    background: #EDF2F7;
    border: 2px solid rgba(51, 74, 192, 0.5);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 5vw;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    }

    .last_name{
        align-content: center;
        margin-top: 8vw;
        margin-left:20vw ;
    }

    .last_name_text{
        padding-bottom: 1vw;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 5vw;
        font-size: 5.5vw;
        color: #334AC0;
    }

    .last_name_box{
    width: 60vw;
    height: 10vw;;
    background: #EDF2F7;
    border: 2px solid rgba(51, 74, 192, 0.5);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 5vw;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    }

    .dob{
        align-content: center;
       margin-top: 8vw;
        margin-left:20vw ;
    }

    .dob_text{
        padding-bottom: 1vw;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 5vw;
        font-size: 5.5vw;
        color: #334AC0;
    }

    .dob_box{
        width: 60vw;
     height: 10vw;;
    background: #EDF2F7;
    border: 2px solid rgba(51, 74, 192, 0.5);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 5vw;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    }

    .gender{
        align-content: center;
        margin-top: 8vw;
        margin-left:20vw ;
    }

    .gender_text{
        padding-bottom: 1vw;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 5vw;
        font-size: 5.5vw;
        color: #334AC0;
    }

    .gender_box{
    width: 62vw;
    height: 12vw;;
    background: #EDF2F7;
    border: 2px solid rgba(51, 74, 192, 0.5);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 5vw;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    }



    .next{
        width: 30vw;
        height: 10vw;
        margin-top: 10vw;
        margin-left: 35vw;
        background: #334AC0;
        border-color:rgb(8, 5, 212);
        border-radius: 5vw;
        box-shadow: 6px 12px 12px rgba(0, 0, 0, 0.12);
        font-style: bold;
        font-weight: 10;
        font-size: 5vw;
        line-height: 2vw;
        font-family: 'Poppins', sans-serif;
        color: white;
				border-style: none;
    }
