.Mates{
    font-weight: 7vw;
    font-size: 6vw;
    
    margin-left: 15vw;
    align-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    }

.contain{
    box-shadow: 5px 10px 18px #888888;
    background: white;
    height: 38vw;
    width: 90vw;
    margin-top: 9.5vw;
    margin-left: 5vw;
    
}
.random{
    margin-left: 2vw;
    background: #ffffff;
    height: 3vw;
    width: 8vw;
    }

.majorcontainer{
font-family: 'Poppins', sans-serif;
font-size: 3vw;
margin-left: 2vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 6vw;
width: 80vw;
}

.namecontainer{
font-family: 'Poppins', sans-serif;
font-size: 3vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 6vw;
width: 80vw;    
margin-top: 2vw;
margin-left: 2vw;
}
.emailcontainer{
font-family: 'Poppins', sans-serif;
font-size: 3vw;
background: #EDF2F7;
border: .1vw solid rgba(51, 74, 192, 0.5);
height: 6vw;
width: 80vw;    
margin-top: 2vw;
margin-left: 2vw;
    }
.dynamicbutton{
    font-size: 3vw;
    font-family: 'Merriweather', serif;
    margin-left: 11vw;
    margin-top: 2vw;
    border: white;
    border-radius: 1vw;
    color: white;
    background: #334AC0;
    height: 8vw;
    width: 30vw;
    }

.button{
font-size: 3vw;
font-family: 'Merriweather', serif;
margin-left: 2vw;
margin-top: 2vw;
border: white;
border-radius: 1vw;
color: white;
background: #334AC0;
height: 8vw;
width: 30vw;
}